#!/usr/bin/make -f

%:
	dh $@

override_dh_auto_build:
	cargo build --release

override_dh_auto_test:
	cargo test

override_dh_auto_install:
	mkdir -p debian/tmp/usr/bin
	install -m755 target/release/acmers debian/tmp/usr/bin/
	mkdir -p debian/tmp/usr/share/man/man1
	cp debian/acmers.1 debian/tmp/usr/share/man/man1/
	mkdir -p debian/tmp/lib/systemd/system
	cp debian/acmers.service debian/tmp/lib/systemd/system/
	cp debian/acmers.timer debian/tmp/lib/systemd/system/
